.navbar-brand{
    
    font-size:20px;
    line-height: 1.2;
    color: #0094ff;
    text-transform: uppercase;
}
.navbar-brand:hover{
    
    font-size:20px;
    line-height: 1.2;
    color: #0094ff;
    text-transform: uppercase;
}