* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size:18px;
    line-height: 1.2;
    color: #0094ff;
    text-transform: uppercase;
    
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

nav ul li {
    margin-left:40px;
    margin-right: 50px;
    text-align: center;
   text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #00aaff;
    color: white;
    border-radius: 5px;
}
.hero {
    background: url('../img/shared\ image.jpeg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: left;
    margin:auto;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Oscurece un poco la imagen */
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
    right: 400px;

}

.hero h1 {
    font-size: 4em;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.btn {
    background-color: #00aaff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.btn:hover {
    background-color: #007acc;
    transition: 0.3s;
}
.info-cards {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    margin: 0px 100px;   
}
.info-cards a{
    color: white;
}

.card1 {
    background-color: #43B3E5;
    color: white;
    padding:60px;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }
.card2 {
    background-color: #0284CF;
    color: white;
    padding:60px;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
 } 
 .card3 {
    background-color:#3256A4;
    color: white;
    padding:60px;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
        }
    

.card a {
    color: #00ccff;
    text-decoration: none;
}
.news-featured  {
    margin: 50px 0;
    color:#41B3E5;
}
.news-featured p{
    color:black;
}
.news-featured h3{
    color:black;
    text-transform: uppercase;
}
.news-featured a{
    color: #00aaff;
}

.two-columns {
    display: flex;
    justify-content:space-around;
    gap:20px;
}

.news {
    width: 40%;
    height: auto;   
}

.news img {
    width: 54cqmax;  
    border-radius: 8px;
    margin-bottom: 21px;
    height: 60vh;
     
}
.featured img{
    width: 400px;
    border-radius: 8px;
    margin-bottom: 140px;
       
}
.featured{
    margin-left:320px;
}
.services {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-column: auto;
    justify-content: space-around;
    padding-left: 100px;
    background-color: #fff;
}

.service-box {
    max-width: 600px;
    padding: 30px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Para centrar el título */
}

.service-box h3 {
    text-align:left;
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.content {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    text-align: left; 
    flex-direction: row; /* Mantener la imagen y el texto en la misma línea */
}

.icon img {
    width: 70px;
    height: 70px;
    margin-right:5px;
}

.text-content {
    padding-left: 90px;
    flex-grow: 1;
}
.text-content h3{
    color: #00aaff;
}

.text-content p {
    font-size: 14px;
    color: #666;
}

.footer {
    background-color: #333; /* Color oscuro de fondo */
    color: #fff; /* Color del texto en blanco */
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las columnas */
    max-width: 3200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left{
    flex: 3;
    margin-left: 80px;
    margin-right: 40px;
}
.footer-right {
    flex: 1; 
    padding-left:  220px;

}
.footer-center{
    margin-left: 200px;
}

.footer-left p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-left address {
    font-style: normal;
    line-height: 1.6;
}
.contact-numbers a { 
    margin-left: 400px;
}


.footer-center ul,
.footer-right ul {
    list-style: none;
    padding: 0
}

.footer-center ul li,
.footer-right ul li {
    margin-bottom: 10px;
}

.footer-center ul li a,
.footer-right ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 14px;
}

.footer-center ul li a:hover,
.footer-right ul li a:hover {
    text-decoration: underline;
}

.footer-center ul li:first-child,
.footer-right ul li:first-child {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
}

